<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <title>Monguito</title>
</head>

<body>
<!--Parte de leider-->
<div class="titulo_ini" id="titulo_ini">
    <h1>Aprende comandos de Mongo</h1>
</div>

<div class="container_one">
    
    <div class="all-cont">
        <div class="box">
            <span></span>
            <div class="content">
                <h2>Crear Base de Datos</h2>
                <p>Para crear una base de datos, use el comando</p><p> use Videojuegos</p>
            </div>
        </div>
        <div class="box">
            <span></span>
            <div class="content">
                <h2>Eliminar Coleccion</h2>
                <p>Para eliminar una coleccion podemos realizarla de la siguiente forma:</p><p> db.consola.drop()</p>
            </div>
        </div>
    </div>
    <div class="all-main">
        <div class="box">
            <span></span>
            <div class="content">
                <h2>Crear Coleccion</h2>
                <p>Para crear una coleccion utilizamos El método createCollection </p><p> db.createCollection('consola');</p>
            </div>
        </div>
        <div class="box">
            <span></span>
            <div class="content">
                <h2>Eliminar Base de Datos</h2>
                <p>Para eliminar una base de datos utlizamos el método :</p> <p> dropDatabase();</p>
            </div>
        </div>
    </div>
</div>

<!--Parte de sol-->    
    <section>
        <div class="container">
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="https://www.openlogic.com/sites/default/files/image/2021-06/image-blog-openlogic-what-is-mongodb.png">
                    </div>
                    <div class="contentBx">
                        <h3>Insert<br><br>
                            <span>
                                Para insertar datos en la colección 
                                de MongoDB, debe usar el método insert() de MongoDB, estar en bd y llamar a la colección.
                            </span>
                        </h3>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="">db.consolas.insert({_id:1, nom:'xbox'})</a>
                    </li>
                    
                </ul>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="https://www.openlogic.com/sites/default/files/image/2021-06/image-blog-openlogic-what-is-mongodb.png">
                    </div>
                    <div class="contentBx">
                        <h3>Find<br><br>
                            <span>
                                Para consultar datos en la colección 
                                de MongoDB, debe usar el método find() de MongoDB.
                            </span>
                        </h3>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="">db.consolas.find()</a>
                    </li>
                    
                </ul>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="https://www.openlogic.com/sites/default/files/image/2021-06/image-blog-openlogic-what-is-mongodb.png">
                    </div>
                    <div class="contentBx">
                        <h3>Find for id<br><br>
                            <span>
                                Para consultar datos en la colección 
                                de MongoDB por "id", debe usar el método <b>find({_id:1})</b> de MongoDB y adentro del metodo darle el valor del id .
                            </span> 
                        </h3>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a >db.consolas.find({_id:1})</a>
                    </li>
                    
                </ul>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="https://www.openlogic.com/sites/default/files/image/2021-06/image-blog-openlogic-what-is-mongodb.png">
                    </div>
                    <div class="contentBx">
                        <h3>Update<br><br>
                            <span>
                                Para actualizar datos en la colección 
                                de MongoDB, debe usar el método Update() de MongoDB, donde se dara el idicativo de $set para actualizar.
                            </span>
                        </h3>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="">db.consolas.update({_id:1},{$set{"nom":"playStation"}})</a>
                    </li>
                    
                </ul>
            </div>
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="https://www.openlogic.com/sites/default/files/image/2021-06/image-blog-openlogic-what-is-mongodb.png">
                    </div>
                    <div class="contentBx">
                        <h3>deleteOne<br><br>
                            <span>
                                Para eliminar datos en la colección 
                                de MongoDB, debe usar el método deleteOne() de MongoDB donde se le indicara que id se eliminara.
                            </span>
                        </h3>
                    </div>
                </div>
                <ul class="sci">
                    <li>
                        <a href="">db.consolas.deleteOne({_id:1})</a>
                    </li>
                    
                </ul>
            </div>
        </div>
        
       
    </section>


<!--Parte de Juanito-->
     
    <div class="container_family" id="container_family">
        <h1>Mini practica </h1>
        <div class="container_form" id="container_form">
            <form id="formi" class="formi">
                <!-- input -->
                <div class="mb-3">
                    <label for="" class="form-label" id="label1">Cree una base de datos en mongodb llamada
                       <b> "literatura"</b> </label>
                    <input type="text" class="form-control" id="inpu1" aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Cuál es la manera de eliminar la base de datos <b> "literatura"</b> en
                        mongodb?</label>
                    <select class="form-select" id="select1" name="select1" aria-label="Default select example">
                        <option selected>Seleccione una opcion</option>
                        <option value="1">db.literatura.drop()</option>
                        <option value="2">db.dropDatabase()</option>
                        <option value="3">dropDatabase()</option>
                        <option value="4">db.dropDatabase("literatura")</option>
                    </select>
                </div>

                <!-- input -->
                <div class="mb-3">
                    <label for="" class="form-label" id="label1">Digite como crear la colección <b> "libros"</b> en
                        mongodb</label>
                    <input type="text" class="form-control" id="inpu2" aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Cuál es la manera de eliminar la colección <b>"libros"</b>  en
                        mongodb?</label>
                    <select class="form-select" id="select2" name="select2" aria-label="Default select example">
                        <option selected>Seleccione una opcion</option>
                        <option value="1">db.libros.drop()</option>
                        <option value="2">dropCollection()</option>
                        <option value="3">db.dropCollection()</option>
                        <option value="4">db.dropCollection("libros")</option>
                    </select>
                </div>

                <!-- input -->
                <div class="mb-3">
                    <label for="" class="form-label" id="label1">inserte en la coleccion de <b>"libros"</b> un documento con
                        los siguientes fields <b>(_id, nombre, escritor)</b> donde el <b>"_id"</b> sea <b>1</b>, el <b>"nombre"</b> sea <b>"100 años de
                        soledad"</b> y el <b>"escritor"</b> sea <b>"Gabriel García Márquez"</b> <i>(Por favor incluir las tildes y no dejar
                        espacios al momento de separar los fields)</i>.</label>
                    <input type="text" class="form-control" id="inpu3" aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Cuál es la manera de consultar todos los documentos de la colección
                        <b>"libros"</b> en mongodb?</label>
                    <select class="form-select" id="select3" name="select3" aria-label="Default select example">
                        <option selected>Seleccione una opcion</option>
                        <option value="1">db.libro.find()</option>
                        <option value="2">db.libros.find({"_id":""})</option>
                        <option value="3">db.libros.find()</option>
                    </select>
                </div>

                <!-- input -->
                <div class="mb-3">
                    <label for="" class="form-label" id="label1">De la colección <b>"libros"</b> donde el documento que tenga
                        como field <b>"_id"</b> y valor <b>1</b>, actualice el <b>"nombre"</b> a <b>"Relato de un náufrago"</b> <i>(Por favor incluir
                        las tildes y no dejar espacios al momento de separar los fields)</i></label>
                    <input type="text" class="form-control" id="inpu4" aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Cuál es la manera de eliminar el documento donde el field es <b>"_id"</b> con valor de <b>1</b> de la colección <b>"libros"</b> en mongodb?</label>
                    <select class="form-select" id="select4" name="select4" aria-label="Default select example">
                        <option selected>Seleccione una opcion</option>
                        <option value="1">db.libro.deleteOne({"_id":1})</option>
                        <option value="2">db.libros.deleteOne({"id":1})</option>
                        <option value="3">db.libros.deleteOne({"_id":1})</option>
                    </select>
                </div>
            </form>
            <div class="spann">
                <p><b>Si ya este seguro de sus respuestas cliquear el botón "Enviar"</b></p>
            </div>
        </div>
        <div class="buto">
        <div class="butonn" id="butonn">
            <div class="buton1" id="buton1">
                <button class="button" id="enviar">Enviar</button>
            </div>
            <div class="buton2" id="buton2">
                <a href="/consola"><button class="btn btn-dark" id="monguito">Abrir Consola de Mongodb</button></a>
            </div>
        </div>
    </div>
    </div>
    <script src="/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2"></script>
</body>

</html>